# 安装包时锁定版本
save-prefix="~"
# 配置 node-sass 源
sass_binary_site=https://npm.taobao.org/mirrors/node-sass/
# 配置 taobao 源
registry=https://registry.npm.taobao.org
# 配置 @mi: 私有源
@mi:registry=http://registry.npm.pt.mi.com
# Electron Mirror of China
electron_mirror="https://npm.taobao.org/mirrors/electron/"

