**/*.svg
**/*.png
**/*.eot
**/*.ttf
**/*.ico
.*
package.json
.umi
.umi-production
**/editor.js
src/service-worker.js
src/components/Authorized/PromiseRender.tsx
/build
/dist
.dockerignore
.DS_Store
.eslintignore
*.png
*.toml
docker
.editorconfig
Dockerfile*
.gitignore
.prettierignore
LICENSE
.eslintcache
*.lock
yarn-error.log
.history
