<?xml version="1.0" encoding="UTF-8"?>
<!--
 Copyright (c) 2019, Xiaomi, Inc.  All rights reserved.
 This source code is licensed under the Apache License Version 2.0, which
 can be found in the LICENSE file in the root directory of this source tree.
-->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiaomi.thain.core.mapper.UserMapper">

    <select id="getAdminUsers" resultType="com.xiaomi.thain.core.entity.ThainUser">
        select id, user_id, user_name, password_hash, email, admin
        from thain_user
        where admin = 1
    </select>

</mapper>
