<?xml version="1.0" encoding="UTF-8"?>
<!--
 Copyright (c) 2019, Xiaomi, Inc.  All rights reserved.
 This source code is licensed under the Apache License Version 2.0, which
 can be found in the LICENSE file in the root directory of this source tree.
-->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiaomi.thain.server.mapper.FlowMapper">

    <select id="getFlowList" parameterType="com.xiaomi.thain.server.model.sp.FlowListSp"
            resultType="com.xiaomi.thain.common.model.dr.FlowDr">
        select id, name, cron, modify_callback_url, pause_continuous_failure, email_continuous_failure, create_user,
        callback_url, callback_email, create_app_id, sla_duration, sla_email, sla_kill, last_run_status,
        scheduling_status, retry_number, time_interval, create_time, update_time, status_update_time, deleted
        from thain_flow where deleted != 1
        <if test="flowId != null and flowId > 0">
            and id = #{flowId}
        </if>
        <if test="lastRunStatus != null and lastRunStatus > 0">
            and last_run_status = #{lastRunStatus}
        </if>
        <if test="queryUsername != null and queryUsername != ''">
            and ((create_user = #{queryUsername} and create_app_id = 'thain')
            <if test="appIds!=null and appIds.size > 0">
                or create_app_id in
                <foreach collection="appIds" separator="," open="(" close=")" item="appId">
                    #{appId}
                </foreach>
            </if>
            )
        </if>
        <if test="flowName != null and flowName != ''">
            and name like concat('%',#{flowName},'%')
        </if>
        <if test="createUser != null and createUser != ''">
            and create_user like concat('%',#{createUser},'%')
        </if>
        <if test="searchApp != null and searchApp != ''">
            and create_app_id like concat('%',#{searchApp},'%')
        </if>
        <if test="scheduleStatus != null and scheduleStatus > 0">
            and scheduling_status = #{scheduleStatus}
        </if>
        <if test="updateTime != null and updateTime.size == 2">
            and status_update_time between from_unixtime(#{updateTime[0]}) and from_unixtime(#{updateTime[1]})
        </if>
        <if test="sortKey != null">
            order by ${sortKey}
            <if test="sortOrderDesc">
                desc
            </if>
        </if>
        LIMIT #{offset}, #{limit}
    </select>

    <select id="getFlowListCount" parameterType="com.xiaomi.thain.server.model.sp.FlowListSp"
            resultType="java.lang.Long">
        select count(id) from thain_flow where deleted != 1
        <if test="flowId != null and flowId > 0">
            and id = #{flowId}
        </if>
        <if test="lastRunStatus != null and lastRunStatus > 0">
            and last_run_status = #{lastRunStatus}
        </if>
        <if test="queryUsername != null and queryUsername != ''">
            and ((create_user = #{queryUsername} and create_app_id = 'thain')
            <if test="appIds!=null and appIds.size > 0">
                or create_app_id in
                <foreach collection="appIds" separator="," open="(" close=")" item="appId">
                    #{appId}
                </foreach>
            </if>
            )
        </if>
        <if test="flowName != null and flowName != ''">
            and name like concat('%', #{flowName}, '%')
        </if>
        <if test="createUser != null and createUser != ''">
            and create_user like concat('%',#{createUser},'%')
        </if>
        <if test="searchApp != null and searchApp != ''">
            and create_app_id like concat('%',#{searchApp},'%')
        </if>
        <if test="scheduleStatus != null and scheduleStatus > 0">
            and scheduling_status = #{scheduleStatus}
        </if>
        <if test="updateTime != null and updateTime.size == 2">
            and status_update_time between from_unixtime(#{updateTime[0]}) and from_unixtime(#{updateTime[1]})
        </if>
    </select>

    <select id="flowExist" resultType="boolean">
        select count(*)
        from thain_flow
        where id = #{flowId}
    </select>

    <select id="getFlowIdByFlowExecutionId" resultType="java.lang.Long">
        select flow_id
        from thain_flow_execution
        where id = #{flowExecutionId}
    </select>
    <select id="getFlow" resultType="com.xiaomi.thain.common.model.dr.FlowDr">
        select id,
               name,
               cron,
               modify_callback_url,
               pause_continuous_failure,
               email_continuous_failure,
               create_user,
               callback_url,
               callback_email,
               create_app_id,
               sla_duration,
               sla_email,
               sla_kill,
               last_run_status,
               scheduling_status,
               retry_number,
               time_interval,
               create_time,
               update_time,
               status_update_time,
               deleted
        from thain_flow
        where id = #{flowId}
    </select>
    <select id="getJobModelList" resultType="com.xiaomi.thain.common.model.dr.JobDr">
        select id,
               flow_id,
               name,
               `condition`,
               component,
               callback_url,
               properties,
               x_axis,
               y_axis,
               create_time,
               deleted
        from thain_job
        where flow_id = #{flowId}
          and deleted = 0
    </select>

    <select id="getUserAccessible" resultType="java.lang.Boolean">
        select count(1) from thain_flow where id = #{flowId} and ((create_user = #{userId} and create_app_id = 'thain')
        <if test="appIds!=null and appIds.size > 0">
            or create_app_id in
            <foreach collection="appIds" separator="," open="(" close=")" item="appId">
                #{appId}
            </foreach>
        </if>
        )
    </select>

    <select id="getAppIdAccessible" resultType="java.lang.Boolean">
        select count(1)
        from thain_flow
        where id = #{flowId}
          and create_app_id = #{appId}
          and deleted = 0
    </select>

    <update id="updateAppId">
        update thain_flow
        set create_app_id = #{appId}
        where id = #{flowId}
    </update>
</mapper>
